<div>

  <p class="text-green-500"><%= notice %></p>

  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %></p>
    <p>Recipes: , <%= current_user.recipes.count %></p>
    <%= link_to "New Recipe", new_user_recipe_path(current_user) %>
  <% else %>
    <%= link_to "New user", new_user_registration_path %>
  <% end %>

</div>