<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %> | <%= link_to "New Recipe", new_user_recipe_path(@user) %>

  <%= button_to "Delete this user", @user, method: :delete %>
</div>

<h2>My Recipes</h2>

<div class="border border-solid border-black rounded-md p-4">  

  <div id="recipes" class="center-elements-row recipe-index">
  <% @user.recipes.each_with_index do |recipe, index| %>
    <div class="center-elements-row <%= index.even? ? 'even' : 'odd' %>">
      <div class="recipe-index-title">
        <%= link_to recipe.name, user_recipe_path(@user, recipe) %>
        <%= link_to "Delete", user_recipe_path(@user, recipe), method: :delete %>
      </div>
      <div class="recipe-index-description">
        <h3>Description</h3>
        <%= link_to recipe.description, user_recipe_path(@user, recipe) %>
      </div>
    </div>
    <style>
      .even {
        background-color: #f2f2f2; /* Gris claro */
      }

      .odd {
        background-color: #ffffff; /* Blanco */
      }
    </style>
  <% end %>
</div>

  
</div>