<h1 class="text-xl font-bold pt-4">Shopping List</h1>

<div class="flex py-4">
  <p class="pr-12">Amount of food items to buy: <%= @total_foods %></p>
  <p class="pl-12">Total value of food needed: <%= number_to_currency(@total_price) %></p>
</div>

<table class="w-1/2 border border-black">
  <thead class="bg-gray-300">
    <tr class="text-left">
      <th class="border-r border-black">Food</th>
      <th class="border-r border-black">Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @greater_quantities_array.each_with_index do |(food_id, details), index| %>
      <tr class=<%= index.even? ? 'bg-gray-200' : '' %>>
        <td class="border-r border-black"><%= details[:name] %></td>
        <td class="border-r border-black"><%= details[:quantity] %> <%= details[:measurement_unit] %></td>
        <td><%= number_to_currency(details[:price]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
