<%= form_with(model: [current_user, recipe], local: true, url: user_recipe_recipe_food_path(current_user, recipe), method: :patch) do |form| %>

<% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% recipe.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="text-xl">Foods in This Recipe</h2>
  <ul>
    <% total_value = 0 %>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <li class="my-4">
      <%= recipe_food.food.name %> - Quantity: <%= recipe_food.quantity %> (<%= recipe_food.food.measurement_unit %>) - Price: <%= recipe_food.food.price %> |
      <% food_total = recipe_food.quantity * recipe_food.food.price %>
      <%= form_with(model: recipe_food, local: true, url: user_recipe_recipe_food_path(current_user, @recipe, recipe_food), method: :patch) do |form| %>
        <div>
          <%= form.text_field :quantity, class: 'form-control-lg', type: 'number', step: '0.1', min: 1 %>
          <%= form.submit "Update", class: "border border-black px-4" %>
        </div>
      <% end %>
      (Total: <%= food_total %>)
      <% total_value += food_total %>
    </li>
    <% end %>
  </ul>
<% end %>
